h1, h2{
    font-family: 'Roboto Slab', serif;
  }
  html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    background: linear-gradient(45deg, #726193 20%, #e37b7c 60%, #ffe4b4);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header, footer{
    color: #000;
    margin: 0;
    padding: 1em 1em;
    height: 9.2vh;
    text-align: center;
  }